_target_: rep_check.utils.trainer.Trainer

seed: 42
device: mps
batch_size: 64
num_epochs: 80
val_freq: 5
num_workers: 4

model:
  _target_: rep_check.models.gcn.STGCN
  in_channels: 4
  num_classes: 2
  graph:
    _target_: rep_check.utils.graph.MediaPipeGraph
    num_node: 23
    max_hop: 1
    dilation: 1
    strategy: spatial
  edge_weights: true
  dropout: 0.5

optimizer:
  _target_: torch.optim.Adam
  lr: 0.01
  weight_decay: 0.0001

lr_scheduler:
  _target_: torch.optim.lr_scheduler.MultiStepLR
  milestones: []
  gamma: 0.1

train_dataloader:
  _target_: torch.utils.data.DataLoader
  dataset:
    _target_: rep_check.utils.dataset.PoseLandmarkDataset
    zarr_path: data/processed/train.zarr
  batch_size: ${batch_size}
  shuffle: true
  pin_memory: true
  num_workers: ${num_workers}

val_dataloader:
  _target_: torch.utils.data.DataLoader
  dataset:
    _target_: rep_check.utils.dataset.PoseLandmarkDataset
    zarr_path: data/processed/test/level2.zarr
  batch_size: 16
  shuffle: false
  pin_memory: true
  num_workers: ${num_workers}

ckpt_manager:
  _target_: rep_check.utils.ckpt_manager.CheckpointManager
  save_dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}/checkpoints
  val_freq: ${val_freq}
  topk: 5
  mode: min
  save_last: true

ema:
  _target_: rep_check.utils.ema.EMA
  update_after_step: 0
  inv_gamma: 1.0
  power: 0.75
  min_value: 0.0
  max_value: 0.9999